<div class="duoshuo" id="comments">
    <div id="comment-box" ></div>
    <div class="ds-thread" data-thread-key="<%=key%>" data-title="<%=title%>" data-url="<%=url%>"></div>
    <script>
    var duoshuoQuery = {short_name:"<%=theme.duoshuo.domain %>"};
    (function() {
        var ds = document.createElement('script');
        ds.type = 'text/javascript';ds.async = true;

        ds.src = 'http://static.xiaomo.info/embed.js';
        /*上面是我自己的 embed.js 链接，请改为你自己的地址*/

        ds.charset = 'UTF-8';
        (document.getElementsByTagName('head')[0]
         || document.getElementsByTagName('body')[0]).appendChild(ds);
    })();

        <% if (!theme.preload_comment) { %>
            // Add comment count
            $(function(){
                var jsonUrl = "http://api.duoshuo.com/threads/counts.jsonp?short_name=<%=theme.duoshuo.domain%>&threads=<%=key%>&callback=?";
                $.getJSON(jsonUrl, function(result){
                    $.each(result.response, function(i, field){
                        var value = field.comments;
                        if (value > 0) {
                            $(".count-comment").text(value);
                            return;
                        }
                    })
                })
            })
        <% } %>
    </script>
    <%- partial('click2show') %>
</div>
